
<clr-main-container>
    <clr-header>
      <div class="branding">
        <a href="#" class="nav-link">
          <span class="title">Open Source Ben Jonson</span>
        </a>
      </div>
        <div class="header-nav" [clr-nav-level]="1">
          <a class="nav-link" href="#"  [routerLink]="['bartholomew-fair']" routerLinkActive="active"><span class="nav-text">Bartholomew Fair</span></a>
          <a class="nav-link" href="#"  [routerLink]="['sejanus']" routerLinkActive="active"><span class="nav-text">Sejanus</span></a>
        </div>
      <div class="header-actions">
      </div>
    </clr-header>
    <!-- <div class="content-container"> -->
      <!-- <div class="content-area"> -->
        <!-- <graph [nodes]="nodes" [links]="links"></graph> -->
        <router-outlet></router-outlet>
      <!-- </div> -->
    <!-- </div> -->
  </clr-main-container>